# 1
 Following are the tupele characteristics:

 A.Tuple items are ordered, unchangeable, and allow duplicate values.
 
 B.Tuple items are indexed, indexing starts from 0.

 Yes, tupeles are immutable means we can't change change exxisting tuple.

# 2.

There are only two built-in methods in tuples:

These are count() & index().

The main reason for tuple has only two methods as compared to list is that

tuple is immutable means we can't delete, insert, update new values in tuple so there is no need of more methods.

Example of this two built-in methods are

In [12]:
tup1 = (1,2,3,1,4,5,3,1,3,1,2,1,4,5)

In [13]:
tup1.count(1)

5

In [14]:
tup1.index(3)

2

In [15]:
tup1.index(2,3)

10

# 3.
 In Python, 'set' datatype do not allow duplicates.

In [16]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Set = set(List)
print(Set)

{1, 2, 3, 4}

# 4.

union() method is used to combine two sets completely no duplicates allowed 

But More important is that it creates a new set.

In [17]:
set1 = {1,2,3,4}
set2 = {4,5,6}
union_set = set2.union(set1)
print(union_set)

{1, 2, 3, 4, 5, 6}

On the other hand, update() method is used to add non existing elements in one set from other set,

And, important thing is that like union() method it doesn't creates a new set but updates in existing set.

In [18]:
set3 = {1,2,3}
set4 = {3,4,5}
set3.union(set4)
print(set3)

{1, 2, 3}

# 5.

Dictionary is a data structure in python which includes keys and values pairs, In python dictionary is unordered structure.

In [19]:
course_dic = {1:'Python',2:'Java',3:'Perl'}
print(course_dic)

{1: 'Python', 2: 'Java', 3: 'Perl'}

In this example;

1,2,3 are known as "keys" & 'Python','Java','Perl' are known as "values".

# 6.

Yes, We can create a nested dictionary in python. Below is an example of a nested dictionary;

In [21]:
nested_dic = {1:'Python',2:'Java',3:{'A':'for loops','B':'while loops','C':'if-else','D':'break-condition'}}

nested_dic[3]['B']

'while loops'

In above example a nested dictionary created at key 3 with their keys-values pairs.

We can access them using multiple keys pairs.

# 7.

Using setdefault() method we cnn add default value for a key if it doesn't exist

In [22]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

new_dic1 = dict1.setdefault('topics',['Python','Machine Learning','Deep Learning'])

print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# 8.

The three view objects in python are "key_view","value_view" and "item_view".

In [24]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New  Zealand']}

The three built-in mehtods in python to show these three view object are 
dic_name.keys()  ,  dic_name.values()  &  dic_name.items()

In [25]:
print(dict1.keys())

dict_keys(['Sport', 'Teams'])

In [26]:
print(dict1.values())

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New  Zealand']])

In [27]:
print(dict1.items())

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New  Zealand'])])